@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-3xl font-bold text-gray-900;
}

h2 {
  @apply text-2xl text-gray-900;
}
h3 {
  @apply text-xl text-gray-900;
}
h4 {
  @apply text-lg text-gray-900;
}

button.primary {
  @apply rounded bg-indigo-500 py-2 px-4 font-bold text-white hover:bg-indigo-700 disabled:cursor-not-allowed disabled:bg-gray-400;
}

button.secondary {
  @apply rounded bg-gray-500 py-2 px-4 font-bold text-white hover:bg-gray-700;
}

nav {
  height: 10vh;
}

main {
  max-height: 90vh;
  overflow-y: auto;
}

input,
select,
textarea {
  @apply rounded-lg border-2 border-gray-500 p-1 outline-none focus:border-indigo-500;
}

label {
  @apply flex flex-col;
}

.DraftEditor-root {
  height: 300px !important;
}

.sidebar-item {
  @apply m-2 cursor-pointer border-b border-gray-300 p-2 text-sm leading-3 tracking-normal text-white hover:border-indigo-300 hover:text-indigo-300 focus:outline-none;
}

.sidebar-item-active {
  @apply bg-indigo-700 focus:text-indigo-700;
}

aside {
  @apply text-white;
}

a.external {
  @apply text-blue-500;
}
a.external:visited {
  @apply text-purple-700;
}

.card {
  @apply flex flex-col items-center gap-2 rounded-lg bg-gray-50 p-4 shadow-md;
}
